- content_for :bigtext, "Найти пользователя"
- content_for :smalltext, "По имени и фамилии можно найти всех пользователей с открытым профилем"
.container
  %p
    Каждый пользователь может формировать свой "вишлист" - список книг, которые ему хотелось бы добавить в свою домашнюю детскую библиотеку. Вы всегда можете посмотреть этот вишлист у любого пользователя с открытым профилем. Поиск пользователя производится по имени и/или фамилии. Благодаря этому вы всегда можете угадать с книжным подарком для своих друзей и их детей и подарить им давно желанного "Груффало" или "Там, где живут чудовища", например.
  = render partial: "search_form", locals: {item: @user}
