- content_for :bigtext, "О проекте"
- content_for :smalltext, "Почему решили создать и кто мы такие?"

.container
  .row
    .col-sm-4
      = image_tag "about.png", class: "img-thumbnail"
    .col-sm-8
      Привет. Меня зовут Сикорский Василий. У меня есть сын, которому почти три года. И скоро будет еще один. Я всю жизнь работаю в сфере образования, но также увлекаюсь программированием. В результатет этого появился данный сайт, исключительно под личные цели. Собственно причин появления три:
      %ul
        %li
          Мне очень нравятся детские книги. Я ооочень много читал, когда был маленький сам. И хочу, чтобы мои дети читали не меньше, а то и больше. Я и сейчас получаю огромное удовольствие от взаимодействия с детскими книгами, чтения с ребенком, выбора, оценки их.
        %li
          Детские книги не тривиально выбирать. У них помимо одного показателя "содержание", как во взрослых книгах, есть еще иллюстратор, переводчик, шрифт, формат, восприятие ребенком и много всего. В какой-то момент я столкнулся с этой "проблемой" и понял, что мне не так просто ее решить. Поэтому одной из функций этого сайта будет оценка детских книг по разным параметрам.
        %li
          Я хочу, чтобы нашим детям дарили хорошие книги. И чтобы у всех наших друзей и родственников при желании сделать подарок нашим детям  была возможность зайти на хороший сайт и посмотреть, какие конкретно книги можно подарить. Таким образом, у нас дома будут появляться только желанные и хорошие книги.
  .row
    %h6
      С любыми идеями, пожеланиями и вопросами можно обращаться на vasiliy.sikorskiy@gmail.com
