- content_for :bigtext, "О проекте"
- content_for :smalltext, "Почему решили создать и кто мы такие?"

.container
  .row
    .span4
      = image_tag "about.png",  height: "500px", class: "img-responsive"
    .span8
      Привет. Здесь будет небольшой текст о том, зачем был создан этот сайт. Если коротко, то причины три:
      %ul
        %li
          Мне очень нравятся детские книги. Я ооочень много читал, когда был маленький сам. И хочу, чтобы мои дети читали не меньше, а то и больше. Я и сейчас получаю огромное удовольствие от взаимодействия с детскими книгами
        %li
          Детские книги не тривиально выбирать. У них помимо одного показателя "содержание", как во взрослых книгах, есть еще иллюстратор, переводчик, шрифт, формат, восприятие ребенком и много всего.
        %li
          Я хочу, чтобы нашим детям дарили хорошие книги. И чтобы у всех наших друзей и родственников всегда была возможность зайти на хороший сайт и посмотреть, какие конкретно книги можно подарить.

