- provide :title, "Редактирование книги"
- content_for :bigtext, "Редактирование книги"
- content_for :smalltext, "Все поля важны, заполняйте их максимально внимательно"
.container
  .row
    - if logged_in?
      .col-md-8
        = render partial: "form", locals: {button_name: "Редактировать"}
    - else
      %p
        Только зарегистрированные пользователи могут редактировать книги



