- content_for :bigtext, "Книги для детей от 0 до 12 лет"
- content_for :smalltext, "Качественные отзывы и разносторонний рейтинг детских книг. Вишлисты из книг. Здесь вы можете легко выбрать новую книгу, оставить отзыв, который будет полезен еще множеству людей и сделать свой вклад в развитие чтения у детей

= render "layouts/maincontent"

