- content_for :bigtext, @book.name
- content_for :smalltext, @book.author

.container
  - if @book.image?
    = image_tag @book.image.url
  - else
    = image_tag "Noimage.png"
  %br
  = link_to "Все книги", books_path