- content_for :bigtext, "Редактирование отзыва"
- content_for :smalltext, "Спасибо вам за отзывы о книгах!"

.container
  .row
    .span12
      = simple_form_for([@book, @review]) do |f|
        = f.input :content, label: "Текст отзыва", input_html: {rows: "7", class: "input-block-level"}
        = f.button :submit, "Редактировать отзыв", class: "btn btn-medium btn-success"