%section#maincontent
  .container-fluid
    .row-fluid
      .span12
        .btn-group.filter-category
          %a.btn.btn-success
            Выберите возраст
          %a.btn.btn-success.dropdown-toggle{"data-toggle": "dropdown"}
            %span.caret
          %ul.dropdown-menu.filter
            %li.all.active
              %a Все категории
            %li
              %a 0-1 года
            %li
              %a 1-2 года
            %li
              %a 2-3 года
            %li
              %a 3-4 года
            %li
              %a 4+ года
        .pagination.pagination-right
          = paginate @books
    .row
      .span3
        %form{ :id => "filters_form_id", :action => "?", :method => "get" }
        .form-group
          %input.form-control-filters-input.form-control{:id => "filters_age_input_id", :name => "age", :placeholder => "Введите возраст", :min => "2", :max => "25", :type => "text" }
        .form-group
          %select.form-control-filters-input.form-control.js-country-select-multiple{ :name => "countries[]",  :multiple => "multiple" }
        .form-group.js-region-select-multiple-block
          %select.form-control.js-region-select-multiple{ :name => "regions[]",  :multiple => "multiple" }
        .form-group
          %select.form-control.js-category-select-multiple.form-control-filters-input{ :name => "categories[]",  :multiple => "multiple" }
        %button.btn.btn-primary.main-lead-modal-submit-btn{ :id => "filters_form_submit_id", :type => "submit" } Применить фильтры
      .span9
        .portfolio-area.da-thumbs
          = render @books
    .row-fluid
      .pagination.pagination-left
        = paginate @books

