%section#maincontent
  .container-fluid
    .row-fluid
      .span12
        .btn-group.filter-category
          %a.btn.btn-success
            Выберите категорию
          %a.btn.btn-success.dropdown-toggle{"data-toggle": "dropdown"}
            %span.caret
          %ul.dropdown-menu.filter
            %li.all.active
              %a{"data-toggle": "tab"} Все категории
            %li.web
              %a{"data-toggle": "tab"} 1-2 года
            %li.brand
              %a{"data-toggle": "tab"} 2-3 года
        .pagination.pagination-right
          = paginate @books
    .row
      .portfolio-area.da-thumbs
        = render @books
    .row-fluid
      .pagination.pagination-left
        = paginate @books

