%section#maincontent
  .container-fluid
    .row-fluid
      .span12
        .btn-group.filter-category
          %a.btn.btn-success
            Выберите возраст
          %a.btn.btn-success.dropdown-toggle{"data-toggle": "dropdown"}
            %span.caret
          %ul.dropdown-menu.filter
            %li.all.active
              %a Все категории
            %li
              = link_to "0-1 года", root_path(start: 5)
            %li
              %a 1-2 года
            %li
              %a 2-3 года
            %li
              %a 3-4 года
            %li
              %a 4+ года
        .pagination.pagination-right
          = paginate @books
    .row
      .portfolio-area.da-thumbs
        = render @books
    .row-fluid
      .pagination.pagination-left
        = paginate @books

