%section#maincontent
  .container
    .row
      .span12
        .tabbable.tabs-left
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle": "tab"} Все категории
            %li
              %a{"data-toggle": "tab"} 1-2 года
            %li
              %a{"data-toggle": "tab"} 2-3 года