
:javascript
  $('#rating_form_illustrator').raty({
    pass: '/images/',
    scoreName: 'review[illustrator_rating]'
  });
  $('#rating_form_content').raty({
    pass: '/images/',
    scoreName: 'review[content_rating]'
  });
  $('#rating_form_general').raty({
    pass: '/images/',
    scoreName: 'review[general_rating]'
  });
