%header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand.logo{href: "index.html"}
          = image_tag "img/logo_middle.png"
        %div
          %nav
            %ul.nav.topnav
              %li.success
                %a Home
              %li.primary
                %a Features
              %li.danger
                %a Pages
              %li.warning.active
                %a Portfolio
              %li.info
                %a Blogs
              %li.inverse
                %a Contacts
